<section class="tool-section">
  <div class="tool-container">
    <div class="tool-content">
      <h2>{{toolInfo.title}}</h2>
      <p class="description">{{toolInfo.description}}</p>
      <ul class="features-list">
        <li *ngFor="let feature of toolInfo.features">
          <i class="pi pi-check"></i>
          <span>{{feature}}</span>
        </li>
      </ul>
      <div class="cta-buttons">
        <p-button 
          label="View Catalog" 
          styleClass="p-button-raised" 
          [routerLink]="['/machines']">
        </p-button>
      </div>
    </div>
    <div class="tool-image">
      <p-carousel
        [value]="toolInfo.bendingImages"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [showNavigators]="true"
        [showIndicators]="true"
        styleClass="custom-carousel">
        <ng-template let-image pTemplate="item">
          <div class="bending-image">
            <img [src]="image" alt="Ejemplo de doblez">
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>